---
---

@import "palettes";
@import "theme";
@import "mixins";

.post_excerpt {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  @include trim-v-margins;

  & > *:first-child {
    font-weight: $semi-bold;
  }

  & > div {
    justify-content: flex-start;
  }
}
